.contacto{
    overflow: hidden;
    background-color: #f8f6e8;
}
.contacto .text{
    font-size: 0.8em;
    margin-left: 10%;
    width: 22%;
    float: left;
}
.contacto .datos {
    float: left;
}
.contacto .datos a{
    color: #000;
}
.contacto .media {
    text-align: center;
}
.contacto .media img {
    padding-right: 20%;
    width: 28%;
}
.contacto .mobileImage {
    display: none;
}
.contacto .contacto_ara a, .contacto .contacto_andrea a{
    text-decoration: none; 
}

@media (max-width: 1024px) {
    .contacto .media{
        display: none;
    }
    .contacto .mobileImage {
        display: block;
        margin: 2px;
    }
    .contacto .datos {
        float: none;
    }
    .contacto .text {
        width: auto;
        float: none; 
    }
}