
.footer {
    text-align: center;
    background: transparent;
    display: inline-block;
    margin-left: 10%;
    width: 100%;
    margin-top: 3%;
    font-size: 0.5em;
    padding-bottom: 3%;
  }
  .footer p {
    display: inline-block;
    margin-right: 10px;
  }
  .footer .tags {
    float: left;
  }
  .footer .copy {
    display: inline-block;
    margin-left: 20%;
  }

  @media (max-width: 600px) {
    .footer{
      display: block;
      font-size: 1em;
      margin: 0 auto;
      padding-top: 3%;
    }
    .footer .copy{
      margin: 0
    }
  }