
.footer {
    text-align: center;
    background: transparent;
    display: inline-block;
    width: 100%;
    margin: 3% 0 2% 10%;
    font-size: 0.5em;
    bottom: 0px;
    position: fixed;
  }
  .footer p {
    display: inline-block;
    margin-right: 10px;
  }
  .footer .tags {
    float: left;
  }
  .footer .copy {
    display: inline-block;
    margin-left: 20%;
  }

  @media (max-width: 1024px){
    .footer{
      display: block;
      font-size: 0.7em;
      margin: 0 auto;
      padding-top: 3%;
      position: initial;
    }
    .footer .copy{
      margin: 0
    }
    .footer .tags {
      float: none;
    }
  }

  @media (max-height: 700px) {
    .footer{bottom: initial;} 
  }


